body {
  font-family: Poppins, sans-serif;
}

#banner,
#people-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

#job-item {
  margin-bottom: 16px;
  padding-bottom: 8px;
}

h4 {
  color: darkgray;
  margin-bottom: 4px;
}

.empty {
  height: 56px;
}