<!DOCTYPE html>
<html>
  <head>
    <title>Jovian careers</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <h1>Jovian Careers</h1>
      <img id="banner" src="https://jovian-flask-site.blannc.repl.co/static/banner.jpg">
      <h2>About Jovian</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum varius nulla, eu eleifend ligula mollis eget. Aenean non sapien a dolor interdum mattis. Praesent volutpat, ex a euismod molestie, metus nulla rhoncus nisi, vitae volutpat metus magna sed est. Phasellus luctus tellus nec ipsum consectetur blandit. Donec at euismod magna. Nunc ultricies turpis in ex faucibus condimentum. Morbi tincidunt, augue vel fermentum consequat, mauris felis fermentum sem, eget porttitor magna quam nec sem.</p>
      <h2>Open Positions</h2>
      <p>TODO - Show the jobs</p>
      <div class="contact-btn">
        <button>Contact Us</button>
      </div>
    </div>
  </body>
</html>