<!DOCTYPE html>
<html>
  <head>
    <title>Jovian careers</title>
    <link rel="icon" type="image/x-icon" href="/static/images/jovian-icon.png">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-4">{{company_name}} Careers</h1>
      <img class="img-fluid" id="banner" src="https://jovian-flask-site.blannc.repl.co/static/images/banner.jpg">
      <h2 class="text-center mt-4 mb-4">About Jovian</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum varius nulla, eu eleifend ligula mollis eget. Aenean non sapien a dolor interdum mattis. Praesent volutpat, ex a euismod molestie, metus nulla rhoncus nisi, vitae volutpat metus magna sed est. Phasellus luctus tellus nec ipsum consectetur blandit. Donec at euismod magna. Nunc ultricies turpis in ex faucibus condimentum. Morbi tincidunt, augue vel fermentum consequat, mauris felis fermentum sem, eget porttitor magna quam nec sem.</p>
      <h2 class="text-center mt-4 mb-4">Open Positions</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div class="text-center mt-4 mb-4">
        <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
      <p class="text-center mt-4 mb-4">&copy; 2022 Jovian</p>
    </div>
  </body>
</html>